In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime
from sklearn.preprocessing import OneHotEncoder

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Supply Chain Data/DataCoSupplyChainDataset.csv')

In [3]:
# y value delivery status, categorically able to predict if a delivery is
# late, advanced/ a head of schedule, on time, or was canceled. 
df['Delivery Status'].value_counts()

Late delivery        98977
Advance shipping     41592
Shipping on time     32196
Shipping canceled     7754
Name: Delivery Status, dtype: int64

In [4]:
df.drop(columns=[
    'Category Name',
    'Customer City',
    'Customer Country',
    'Customer Email',
    'Customer Fname',
    'Customer Id',
    'Customer Lname',
    'Customer Password',
    'Customer Street',
    'Order Item Cardprod Id',
    'Product Card Id',
    'Product Category Id',
    'Product Description',
    'Product Status',
    'Product Image',
    'Product Name',
    'Order Zipcode'
], axis=1, inplace=True)

In [5]:
for c in df.columns:
    print(c)
    print(df[c].isna().sum())

Type
0
Days for shipping (real)
0
Days for shipment (scheduled)
0
Benefit per order
0
Sales per customer
0
Delivery Status
0
Late_delivery_risk
0
Category Id
0
Customer Segment
0
Customer State
0
Customer Zipcode
3
Department Id
0
Department Name
0
Latitude
0
Longitude
0
Market
0
Order City
0
Order Country
0
Order Customer Id
0
order date (DateOrders)
0
Order Id
0
Order Item Discount
0
Order Item Discount Rate
0
Order Item Id
0
Order Item Product Price
0
Order Item Profit Ratio
0
Order Item Quantity
0
Sales
0
Order Item Total
0
Order Profit Per Order
0
Order Region
0
Order State
0
Order Status
0
Product Price
0
shipping date (DateOrders)
0
Shipping Mode
0

In [6]:
df[df['Customer Zipcode'].isna() == True]

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Customer Segment,Customer State,...,Order Item Quantity,Sales,Order Item Total,Order Profit Per Order,Order Region,Order State,Order Status,Product Price,shipping date (DateOrders),Shipping Mode
35704,DEBIT,2,1,66.379997,189.660004,Late delivery,1,65,Consumer,95758,...,1,252.880005,189.660004,66.379997,Western Europe,Auvernia-R�dano-Alpes,COMPLETE,252.880005,11/4/2017 18:31,First Class
46440,PAYMENT,4,4,10.910000,38.959999,Shipping on time,0,75,Corporate,95758,...,1,39.750000,38.959999,10.910000,Southeast Asia,Capital Nacional,PENDING_PAYMENT,39.750000,12/14/2017 15:18,Standard Class
82511,DEBIT,4,4,59.990002,299.959992,Shipping on time,0,63,Consumer,91732,...,1,357.100006,299.959992,59.990002,Northern Europe,Inglaterra,COMPLETE,357.100006,10/30/2017 0:29,Standard Class

In [7]:
#clean customer zipcode
df.drop(index=[35704, 46440, 82511], axis=0, inplace=True)

##### Converting Date to Year-Month

In [8]:
#order date
date_od = pd.to_datetime(pd.Series(df['order date (DateOrders)'], )).dt.strftime('%Y-%m')

In [9]:
df = pd.concat([df, date_od], axis=1)
df['order date y-m'] = df['order date (DateOrders)'].iloc[:, 1]
df.drop(columns=['order date (DateOrders)'], axis=1, inplace=True)

In [10]:
#shipping date
date_sd = pd.to_datetime(pd.Series(df['shipping date (DateOrders)'])).dt.strftime('%Y-%m')

In [11]:
df = pd.concat([df, date_sd], axis=1)
df['shipping date y-m'] = df['shipping date (DateOrders)'].iloc[:, 1]
df.drop(columns=['shipping date (DateOrders)'], axis=1, inplace=True)

In [12]:
df = df[df['Delivery Status'] != 'Shipping canceled' ]

In [13]:
df.reset_index(drop=True, inplace=True)

In [14]:
df.dropna(axis=0, inplace=True)

In [16]:
df.sort_values(by=['order date y-m', 'shipping date y-m'], inplace=True)

In [17]:
df = df[df['Delivery Status'] != 'Shipping canceled' ]

In [18]:
df.reset_index(drop=True, inplace=True)

In [19]:
df.dropna(axis=0, inplace=True)

In [20]:
df = df.drop(columns=[
    'Days for shipping (real)',
    'Benefit per order',
    'Category Id',
    'Customer State',
    'Order State',
    'Order Item Total',
    'Order Customer Id',
    'Order Id',
    'Order City',
    'Order Country',
    'Order Status',
    'Product Price',
], axis=1)

In [21]:
df.to_csv('df.csv')